# Code Submission

Tushar (21201651)

## Section 1

In [1]:
# import required packages here
import numpy as np
import pandas as pd
import collections
from itertools import permutations
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
# load the basket.csv file into a pandas DataFrame (df)
df = pd.read_csv('basket.csv')
# Use df.shape to see the number of rows and columns in the df
df.shape

(15206, 12)

In [3]:
# Use df.head() to see the first 8 rows of the df
df.head(8)

,ID,0,1,2,3,4,5,6,7,8,9,10
0,1,whole milk,eggs,salty snack,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,whole milk,eggs,white bread,yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,whole milk,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,whole milk,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,whole milk,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,whole milk,eggs,rolls/buns,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,whole milk,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,whole milk,eggs,whipped/sour cream,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Set the index of the df to the Transaction_ID column
df.set_index('ID', inplace=True)
# Use df.head() to see the first 3 rows of the df
df.head(3)

             0     1            2       3    4    5    6    7    8    9   10
ID
1   whole milk  eggs  salty snack     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   whole milk  eggs  white bread  yogurt  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3   whole milk  eggs          NaN     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [5]:
# Use the pandas describe method to get an overview of the dataset
df.describe()

,0,1,2,3,4,5,6,7,8,9,10
count,15206,15204,5218,2398,886,477,281,198,51,1,1
unique,141,143,134,128,111,96,80,65,35,1,1
top,whole milk,whole milk,whole milk,whole milk,whole milk,shopping bags,yogurt,whole milk,shopping bags,jam,newspapers
freq,1418,1128,308,147,49,25,19,17,4,1,1

In [6]:
# Replace nan entities with 'None' and assign to a new dataframe
df1 = df.astype(object).replace(np.nan, 'None')

In [7]:
# create a list of lists, where each list contains the items in a given transaction
records = []
for i in range(0, len(df1)): 
    records.append([str(df1.values[i,j]) for j in range(0, len(df1.columns))])
# view the first transaction in the list
records[:1]

[['whole milk',
  'eggs',
  'salty snack',
  'None',
  'None',
  'None',
  'None',
  'None',
  'None',
  'None',
  'None']]

In [8]:
# from your list of lists, create a flattened list that contains all items purchased
flattened = [item for record in records for item in record]
# view the legnth of the list
print(len(flattened))

167266

In [9]:
# remove any elements that items of interest (like empty strings or nan values)
flattened_new = [i for i in flattened if i != 'None']
# create a list of unique items from the flattened list
items = list(set(flattened_new))
# print out how many unique items we have
print('# of items:',len(items))
# print out the unique items
items.sort() 
print(items)

# of items: 148
['abrasive cleaner', 'artif. sweetener', 'baby cosmetics', 'bags', 'baking powder', 'bathroom cleaner', 'beef', 'berries', 'beverages', 'bottled beer', 'bottled water', 'brandy', 'brown bread', 'butter', 'butter milk', 'cake', 'candles', 'canned beer', 'canned fish', 'canned fruit', 'canned vegetables', 'cat food', 'cereals', 'champagne', 'cheese', 'chewing gum', 'chicken', 'chocolate', 'citrus fruit', 'cleaner', 'cling film/bags', 'cocoa drinks', 'coffee', 'condensed milk', 'cooking chocolate', 'cookware', 'cream', 'cream cheese ', 'decalcifier', 'dental care', 'detergent', 'dish cleaner', 'dishes', 'dog food', 'eggs', 'fish', 'flaxseed', 'flour', 'flower (seeds)', 'frozen fish', 'frozen fruits', 'frozen meal', 'frozen meals', 'frozen potato products', 'frozen vegetables', 'fruit/vegetable juice', 'grapes', 'hair spray', 'ham', 'hard cheese', 'herbs', 'honey', 'house keeping products', 'hygiene articles', 'ice cream', 'jam', 'jam cheese', 'ketchup', 'kitchen towels', 'kitchen utensil', 'light bulbs', 'liqueur', 'liver loaf', 'long life bakery product', 'make up remover', 'male cosmetics', 'margarine', 'mayonnaise', 'misc. beverages', 'mustard', 'napkins', 'newspapers', 'nut snack', 'nuts/prunes', 'oil', 'onions', 'organic berries', 'organic products', 'other vegetables', 'packaged fruit/vegetables', 'pasta', 'pastry', 'pet care', 'photo/film', 'pickled vegetables', 'pip fruit', 'popcorn', 'pork', 'pot plants', 'potato products', 'potatoes', 'preservation products', 'processed cheese', 'prosecco', 'pudding powder', 'ready soups', 'red wine', 'rice', 'roll products ', 'rolls/buns', 'root vegetables', 'rubbing alcohol', 'rum', 'salad dressing', 'salt', 'salty snack', 'sauces', 'sea salt', 'seasonal products', 'shopping bags', 'skin care', 'sliced cheese', 'soap', 'soda', 'soft cheese', 'soups', 'sparkling wine', 'specialty chocolate', 'specialty fat', 'specialty vegetables', 'spices', 'spread cheese', 'sugar', 'sweet spreads', 'syrup', 'tea', 'tinfoil', 'toilet cleaner', 'tropical fruit', 'turkey', 'vinegar', 'waffles', 'whipped/sour cream', 'whisky', 'white bread', 'white wine', 'whole milk', 'yogurt']

In [10]:
# generate the itemset permutations up to 2-itemsets
rules = list(permutations(items, 2))
# print out the number of rules
print('# of rules:',len(rules))
# print some of the elements of the list of rules
print(rules[:5])

# of rules: 21756
[('abrasive cleaner', 'artif. sweetener'), ('abrasive cleaner', 'baby cosmetics'), ('abrasive cleaner', 'bags'), ('abrasive cleaner', 'baking powder'), ('abrasive cleaner', 'bathroom cleaner')]

In [11]:
# generate the frequency counts for each unique item in the dataset
item_freq = collections.Counter(flattened_new)
# show the most common
item_freq.most_common()

[('whole milk', 3102),
 ('other vegetables', 2025),
 ('berries', 1848),
 ('rolls/buns', 1714),
 ('soda', 1507),
 ('yogurt', 1399),
 ('root vegetables', 1186),
 ('beef', 1158),
 ('tropical fruit', 1046),
 ('bottled water', 939),
 ('citrus fruit', 812),
 ('pastry', 788),
 ('eggs', 778),
 ('pip fruit', 740),
 ('chocolate', 736),
 ('shopping bags', 729),
 ('canned beer', 717),
 ('coffee', 715),
 ('bottled beer', 698),
 ('whipped/sour cream', 654),
 ('brown bread', 651),
 ('pork', 629),
 ('newspapers', 600),
 ('white bread', 549),
 ('cake', 544),
 ('jam', 544),
 ('butter', 534),
 ('fruit/vegetable juice', 521),
 ('margarine', 491),
 ('chicken', 456),
 ('grapes', 432),
 ('frozen vegetables', 426),
 ('cream cheese ', 358),
 ('napkins', 340),
 ('waffles', 305),
 ('onions', 304),
 ('salty snack', 285),
 ('long life bakery product', 269),
 ('sugar', 266),
 ('butter milk', 262),
 ('ham', 258),
 ('frozen meals', 249),
 ('beverages', 248),
 ('specialty chocolate', 246),
 ('misc. beverages', 234),
 ('oil', 228),
 ('ice cream', 225),
 ('hard cheese', 219),
 ('hygiene articles', 211),
 ('sliced cheese', 210),
 ('cat food', 208),
 ('chewing gum', 181),
 ('flour', 178),
 ('white wine', 178),
 ('herbs', 160),
 ('red wine', 160),
 ('soft cheese', 151),
 ('processed cheese', 151),
 ('baking powder', 140),
 ('dishes', 137),
 ('pickled vegetables', 133),
 ('detergent', 129),
 ('packaged fruit/vegetables', 128),
 ('pasta', 123),
 ('pot plants', 118),
 ('canned fish', 118),
 ('mustard', 109),
 ('seasonal products', 106),
 ('frozen fish', 101),
 ('rice', 101),
 ('spread cheese', 100),
 ('condensed milk', 99),
 ('canned vegetables', 90),
 ('salt', 89),
 ('pet care', 86),
 ('roll products ', 82),
 ('turkey', 80),
 ('photo/film', 78),
 ('mayonnaise', 78),
 ('cling film/bags', 75),
 ('cheese', 74),
 ('dog food', 72),
 ('frozen potato products', 72),
 ('dish cleaner', 72),
 ('flower (seeds)', 70),
 ('sweet spreads', 69),
 ('candles', 65),
 ('ketchup', 57),
 ('popcorn', 56),
 ('sparkling wine', 53),
 ('vinegar', 52),
 ('liver loaf', 50),
 ('soups', 48),
 ('cleaner', 48),
 ('house keeping products', 45),
 ('jam cheese', 45),
 ('sauces', 44),
 ('cereals', 42),
 ('spices', 40),
 ('brandy', 39),
 ('male cosmetics', 36),
 ('kitchen towels', 35),
 ('nuts/prunes', 33),
 ('dental care', 32),
 ('rum', 32),
 ('tea', 30),
 ('specialty fat', 29),
 ('light bulbs', 29),
 ('artif. sweetener', 28),
 ('fish', 27),
 ('potato products', 23),
 ('nut snack', 22),
 ('syrup', 22),
 ('abrasive cleaner', 22),
 ('organic berries', 22),
 ('canned fruit', 21),
 ('honey', 21),
 ('soap', 20),
 ('bathroom cleaner', 19),
 ('skin care', 19),
 ('prosecco', 18),
 ('cream', 18),
 ('pudding powder', 17),
 ('cookware', 16),
 ('ready soups', 15),
 ('cooking chocolate', 15),
 ('cocoa drinks', 15),
 ('frozen fruits', 12),
 ('specialty vegetables', 11),
 ('hair spray', 10),
 ('organic products', 10),
 ('whisky', 9),
 ('liqueur', 9),
 ('decalcifier', 9),
 ('salad dressing', 7),
 ('tinfoil', 6),
 ('potatoes', 6),
 ('make up remover', 5),
 ('bags', 5),
 ('toilet cleaner', 5),
 ('rubbing alcohol', 5),
 ('baby cosmetics', 4),
 ('sea salt', 2),
 ('preservation products', 1),
 ('kitchen utensil', 1),
 ('flaxseed', 1),
 ('champagne', 1),
 ('frozen meal', 1)]

In [12]:
# one-hot encode the data and show the first 5 rows of the resulting df
# don't forget to drop the 'nan' value

encoder = TransactionEncoder().fit(records)
onehot = encoder.transform(records)

df_onehot = pd.DataFrame(onehot, columns=encoder.columns_).drop('None', axis=1)
df_onehot

,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,beverages,bottled beer,...,tropical fruit,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15201,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
15202,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,True,False,False,True
15203,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
15204,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
15205,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [13]:
# Generate frequent itemsets with a minimum support of 0.5%
two_itemsets = apriori(df_onehot, min_support=0.005, use_colnames=True)
# view the itemsets sorted by most frequent
two_itemsets.sort_values(by=['support'], ascending=False)

      support                          itemsets
77   0.191109                      (whole milk)
45   0.128568                (other vegetables)
2    0.116336                         (berries)
59   0.108181                      (rolls/buns)
66   0.095226                            (soda)
..        ...                               ...
130  0.005195  (whole milk, whipped/sour cream)
50   0.005130                      (photo/film)
38   0.005130                      (mayonnaise)
79   0.005130                   (berries, beef)
105  0.005064                 (whole milk, jam)

[133 rows x 2 columns]

In [14]:
# Generate frequent itemsets with a minimum support of 0.1%
two_itemsets1 = apriori(df_onehot, min_support=0.001, use_colnames=True)
# view the itemsets sorted by most frequent
two_itemsets1.sort_values(by=['support'], ascending=False)

      support                              itemsets
122  0.191109                          (whole milk)
74   0.128568                    (other vegetables)
5    0.116336                             (berries)
92   0.108181                          (rolls/buns)
103  0.095226                                (soda)
..        ...                                   ...
311  0.001052                      (grapes, butter)
309  0.001052                        (butter, eggs)
289  0.001052  (brown bread, fruit/vegetable juice)
262  0.001052    (bottled water, frozen vegetables)
377  0.001052       (other vegetables, chewing gum)

[762 rows x 2 columns]

In [15]:
# Generate frequent itemsets with a minimum support of 1%
two_itemsets2 = apriori(df_onehot, min_support=0.01, use_colnames=True)
# view the itemsets sorted by most frequent
two_itemsets2.sort_values(by=['support'], ascending=False)

     support                        itemsets
54  0.191109                    (whole milk)
36  0.128568              (other vegetables)
1   0.116336                       (berries)
41  0.108181                    (rolls/buns)
46  0.095226                          (soda)
..       ...                             ...
56  0.011048              (whole milk, beef)
61  0.010851  (other vegetables, rolls/buns)
65  0.010719   (whole milk, root vegetables)
40  0.010522                      (red wine)
25  0.010456                         (herbs)

[68 rows x 2 columns]

In [16]:
# Generate frequent itemsets with a minimum support of 10%
two_itemsets3 = apriori(df_onehot, min_support=0.1, use_colnames=True)
# view the itemsets sorted by most frequent
two_itemsets3.sort_values(by=['support'], ascending=False)

    support            itemsets
3  0.191109        (whole milk)
1  0.128568  (other vegetables)
0  0.116336           (berries)
2  0.108181        (rolls/buns)

How many itemsets are generated for the following support thresholds?:
* 0.1%
* 0.5%
* 1%
* 10%

In [17]:
# generate association rules with a confidence threshold of 10%
assoc_rules = association_rules(two_itemsets, metric='confidence', min_threshold=0.1)

# how many rules are generated?
assoc_rules.shape

(42, 9)

In [18]:
# print out the rules sorted by lift
assoc_rules.sort_values(by=['lift'], ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
21,(eggs),(whole milk),0.049717,0.191109,0.015520,0.312169,1.633464,0.006019,1.176003
26,(root vegetables),(other vegetables),0.076088,0.128568,0.013087,0.171997,1.337790,0.003304,1.052450
25,(other vegetables),(root vegetables),0.128568,0.076088,0.013087,0.101790,1.337790,0.003304,1.028615
28,(white bread),(other vegetables),0.035644,0.128568,0.006116,0.171587,1.334602,0.001533,1.051929
9,(yogurt),(berries),0.088781,0.116336,0.012429,0.140000,1.203414,0.002101,1.027517
10,(berries),(yogurt),0.116336,0.088781,0.012429,0.106840,1.203414,0.002101,1.020220
2,(bottled beer),(berries),0.045311,0.116336,0.005590,0.123367,1.060442,0.000319,1.008021
20,(eggs),(other vegetables),0.049717,0.128568,0.006708,0.134921,1.049413,0.000316,1.007344
0,(beef),(other vegetables),0.074510,0.128568,0.009930,0.133274,1.036610,0.000351,1.005431
6,(pastry),(berries),0.051098,0.116336,0.005787,0.113256,0.973529,-0.000157,0.996527
11,(bottled beer),(whole milk),0.045311,0.191109,0.008089,0.178520,0.934126,-0.000570,0.984675
40,(white bread),(whole milk),0.035644,0.191109,0.006313,0.177122,0.926811,-0.000499,0.983002
23,(newspapers),(whole milk),0.038537,0.191109,0.006708,0.174061,0.910798,-0.000657,0.979360
5,(other vegetables),(berries),0.128568,0.116336,0.013218,0.102813,0.883764,-0.001739,0.984928
4,(berries),(other vegetables),0.116336,0.128568,0.013218,0.113624,0.883764,-0.001739,0.983140
3,(bottled water),(berries),0.060108,0.116336,0.006116,0.101751,0.874629,-0.000877,0.983763
7,(soda),(berries),0.095226,0.116336,0.009667,0.101519,0.872642,-0.001411,0.983510
14,(butter),(whole milk),0.034657,0.191109,0.005590,0.161290,0.843971,-0.001033,0.964447
36,(shopping bags),(whole milk),0.046758,0.191109,0.007431,0.158931,0.831626,-0.001505,0.961742
8,(berries),(whole milk),0.116336,0.191109,0.018480,0.158847,0.831185,-0.003753,0.961646
34,(rolls/buns),(whole milk),0.108181,0.191109,0.016770,0.155015,0.811136,-0.003905,0.957285
17,(chocolate),(whole milk),0.047415,0.191109,0.007300,0.153953,0.805577,-0.001762,0.956083
15,(cake),(whole milk),0.035315,0.191109,0.005393,0.152700,0.799022,-0.001356,0.954669
32,(pip fruit),(whole milk),0.048007,0.191109,0.007300,0.152055,0.795645,-0.001875,0.953943
41,(yogurt),(whole milk),0.088781,0.191109,0.013482,0.151852,0.794583,-0.003485,0.953715
33,(pork),(whole milk),0.040576,0.191109,0.006116,0.150729,0.788710,-0.001638,0.952454
27,(soda),(other vegetables),0.095226,0.128568,0.009601,0.100829,0.784246,-0.002641,0.969151
29,(whole milk),(other vegetables),0.191109,0.128568,0.019203,0.100482,0.781548,-0.005367,0.968777
30,(other vegetables),(whole milk),0.128568,0.191109,0.019203,0.149361,0.781548,-0.005367,0.950921
24,(rolls/buns),(other vegetables),0.108181,0.128568,0.010851,0.100304,0.780165,-0.003058,0.968585
1,(beef),(whole milk),0.074510,0.191109,0.011048,0.148279,0.775887,-0.003191,0.949714
18,(citrus fruit),(whole milk),0.052282,0.191109,0.007694,0.147170,0.770084,-0.002297,0.948479
19,(coffee),(whole milk),0.046100,0.191109,0.006774,0.146933,0.768845,-0.002037,0.948215
31,(pastry),(whole milk),0.051098,0.191109,0.007431,0.145431,0.760986,-0.002334,0.946549
13,(brown bread),(whole milk),0.042154,0.191109,0.006116,0.145086,0.759179,-0.001940,0.946167
22,(jam),(whole milk),0.035118,0.191109,0.005064,0.144195,0.754517,-0.001648,0.945181
12,(bottled water),(whole milk),0.060108,0.191109,0.008615,0.143326,0.749971,-0.002872,0.944223
38,(tropical fruit),(whole milk),0.067605,0.191109,0.009667,0.142996,0.748245,-0.003253,0.943859
35,(root vegetables),(whole milk),0.076088,0.191109,0.010719,0.140882,0.737180,-0.003822,0.941536
16,(canned beer),(whole milk),0.046166,0.191109,0.006445,0.139601,0.730480,-0.002378,0.940135
37,(soda),(whole milk),0.095226,0.191109,0.013153,0.138122,0.722738,-0.005046,0.938521
39,(whipped/sour cream),(whole milk),0.042483,0.191109,0.005195,0.122291,0.639903,-0.002924,0.921594

## Section 2 - OPTION

This section details one of thee options. For the other two options, see the assignment instructions document (*Instructions_Assignment_1.pdf*).

Your task is to implement the Apriori algorithm from "scratch" using the same dataset as Section 1.

You can read the data into a dataframe and use pandas methods but you cannot use mlxtend or another similar package. You should write functions to implement the steps of the algorithm to create frequent itemsets.

Calculate the support, confidence, and lift for single itemset rules.